body{
    background:chartreuse
    }
    .wrap{
    width: 600px;
    margin:auto;
    background:yellow;
    margin-top:50px;
    padding:5px;
    }
    form
    {
    padding:10px;
    font-family:arial;
    margin:10px;
    }
    h2{
    text-align:center;
    background:red;
    color:white;
    padding:10px;
    border-radius:10px;
    
    }
    input{
    padding:10px;
    margin:10px;
    border-radius:5px;
    border:none;
    }
    input[type=text],input[type=email],input[type=number],input[type=password]
    {
    width:90%;
    }
    input[type=submit]{
    width:95%;
    background:blue;
    cursor:pointer;
    font-size:18px;
    font-weight:bold;
    color:white;
    }
    input[type=submit]:hover{
    background:red;
    }
    select{
    padding:12px;
    width:30%;
    border-radius:4px;
    }
    
    option{
    padding:12px;
    width:20%;
    
    }
    